textarea {
  float: left;
  width: 50%;
  overflow: hidden;
  min-height: 50em;
  overflow-y: auto;
}

pre {
  background-color: #ffeff0;
  white-space: pre-wrap;
  border-radius: 0.5rem;
}

pre button {
  position: absolute;
  top: 15px;
  right: 15px;
}
pre button:hover {
  cursor: pointer;
  background-color: darkgray;
}

code {
  font-family: monospace;
  font-size: inherit;
  background: #ffeff0;
}

pre code {
  display: block;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
}
