.edit-board {
  display: flex;
}

textarea {
  width: 50%;
  overflow: hidden;
  min-height: 50em;
  overflow-y: auto;
  border-radius: 0.3rem;
}

/* output code block */
pre {
  background-color: aliceblue;
  white-space: pre-wrap;
  border-radius: 0.5rem;
  position: relative;
  width: 50%;
  min-height: 50em;
  overflow-y: auto;
  margin-top: 0;
  margin-bottom: 0;
}
code {
  font-family: monospace;
  font-size: 16px;
}
pre code {
  display: block;
  white-space: pre;
  -webkit-overflow-scrolling: touch;
  overflow-x: scroll;
  max-width: 100%;
  min-width: 100px;
}

/* copy button */
pre button {
  position: absolute;
  top: 15px;
  right: 15px;
  inset: 5px 5px auto auto;
  box-shadow: -3px 3px #999;
}
pre button:hover {
  cursor: pointer;
  background-color: darkgray;
}

h1,
p {
  text-align: center;
}
